<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 name="text" style="padding: 20px;">Create quiz</h1>

    <form class="form-group" method="post">
        <div class="form-group">
            <h2 for="Title" class="col-sm-2 control-label" name="text">Title</h2>
            <div class="col-sm-20">
                <input type="text" class="form-control" name="Title" required maxlength="50" autocomplete="off">
            </div>
        </div>

        <button type="submit" name="button">Create quiz</button>
    </form>
</body>
</html>