@model List<Quiz.Models.ViewModels.AllQuizesViewModel>

<!DOCTYPE html>
<html>
<head>
    <style>
        #quizesTable {
            width: 100%;
            border: 4px solid black;
            border-radius: 25px;
            border-collapse: collapse;
            padding: 40px;
        }

        th, td {
            border: 1px solid black;
            padding: 0.5em 1em;
        }

        .playQuizColumn {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 name="text" style="padding: 20px;">All quizes</h1>

    <table id="quizesTable">
        <thead>
            <tr>
                <th name="text">Quizes titles</th>
                <th name="text">Number of questions</th>
                <th name="text">Click to play or view results</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var quiz in Model)
            {
                <tr>
                    <td id=" quizTitle" name="text">@quiz.Title</td>
                    <td id="questionsCount" name="text">@quiz.QuestionsCount</td>
                    <td class="playQuizColumn">
                        @if (!quiz.HasUserPlayed)
                        {
                            <button class="btn-success" name="button" onclick="location.href = '@Url.Action("Play", "User", new { quizId = quiz.Id })'">Play</button>
                        }
                        else if (quiz.HasUserPlayed)
                        {
                            <button class="btn-warning" name="button" onclick="location.href = '@Url.Action("Result", "Quiz", new { quizId = quiz.Id })'">Results</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>    