@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Quizlet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        [name=text] {
            font-family: 'Comic Sans MS'
        }

        [name=button] {
            border-radius: 15px;
            font-family: 'Comic Sans MS';
        }

        [name=button]:focus {
            outline: none;
        }

        #bannerImageContainer {
            padding-bottom: 20px;
        }

        #bannerImage {
            background-image: url('/pic/divider.jpg');
            background-size: contain;
            background-repeat: repeat-x;
            width: 100%;
            height: 50px;
        }
    </style>
</head>
<body>
    <header id="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" name="text" asp-area="" asp-controller="Home" asp-action="Index">Quizlet</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (!SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" name="text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" name="text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" name="text" asp-area="" asp-controller="Quiz" asp-action="Add">Add</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" name="text" asp-area="" asp-controller="Quiz" asp-action="All">All</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" name="text" asp-area="" asp-controller="User" asp-action="Statistics">Stats</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" name="text" asp-area="" asp-controller="User" asp-action="Rankings">Rankings</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

        <div id="bannerImageContainer">
            <div id="bannerImage"></div>
        </div>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer" class="border-top footer text-muted">

        <div style="float:left; margin-left:40px;">
            <a name="text">@DateTime.Now.Year - Quiz - </a>
            <a name="text" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>

        <div style="float:right; margin-right:40px;">
            <a name="text">&copy; All Rights Reserved.</a>
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
