<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 name="text" style="padding: 20px;">Add question</h1>

    <form class="form-group" method="post">
        <div class="form-group">
            <h3 for="Title" class="col-sm-5 control-label" name="text">Title</h3>
            <div class="col-sm-20">
                <input type="text" class="form-control" name="Title" required maxlength="50" autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <h2 for="FirstAnswer" class="col-sm-5 control-label" name="text">First answer</h2>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Answers" required maxlength="50" autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <h3 for="SecondAnswer" class="col-sm-5 control-label" name="text">Second answer</h3>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Answers" required maxlength="50" autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <h3 for="ThirdAnswer" class="col-sm-5 control-label" name="text">Third answer</h3>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Answers" required maxlength="50" autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <h3 for="FourthAnswer" class="col-sm-5 control-label" name="text">Fourth answer</h3>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Answers" required maxlength="50" autocomplete="off">
            </div>
        </div>

        <h3 name="text">Select the true answer:</h3>

        <div>
            <input type="radio" id="First" name="TrueAnswer" value="0" required>
            <label for="First" name="text">First answer</label>
        </div>
        <div>
            <input type="radio" id="Second" name="TrueAnswer" value="1" required>
            <label for="Second" name="text">Second answer</label>
        </div>
        <div>
            <input type="radio" id="Third" name="TrueAnswer" value="2" required>
            <label for="Third" name="text">Third answer</label>
        </div>
        <div>
            <input type="radio" id="Fourth" name="TrueAnswer" value="3" required>
            <label for="Fourth" name="text">Fourth answer</label>
        </div>

        <button type="submit" name="button" value="add">Add new question</button>
        <button type="submit" name="button" value="complete">Complete quiz</button>
    </form>
</body>
</html>